
<div class="header">

    <h1>Welcome to <%= @@crm_app_name %>!</h1>
        
    <a href="/">
    <div class="home_button">
    <h1>Home</h1>
    </div>
    </a>

</div>
<div class="header-background">



</div>

<div class="body">



    <div id="contacts">
    
        <h1>Here are all your contacts:</h1> 
        <% @@contact_array.each { |contact| %>
            <div class="individual_contact">
                <% id = contact.id %>
                <% name = contact.first_name+" "+contact.last_name %>
                <% email =contact.email %>
                <% notes = contact.notes %>
                <h1><%= name %></h1> <br>
                <p><%= email %> </p> <br>
                <p><%= notes %> </p>
                <label for="<%= id %>_modify">
                    <div class="modify">
                        <form action="/contacts/<%= id %>/edit" method="GET">
                            <input type="submit" name="submit" class="modify_delete" value="Modify" id = "<%= id %>_modify">
                        </form>
                    </div>
                </label>
                <label for="<%= id %>_delete">
                    <div class="delete">
                        <form action="/contacts/<%= id %>/delete" method="GET">
                            <input type="submit" name="submit" class="modify_delete" value="Delete" id = "<%= id %>_delete">
                        </form>
                    </div>
                <label>
            </div> 
        <% } %>
             
           <a href="/contacts/new"><div class="individual_contact" id="add_button">
                    <p></p> <br>
                    <p></p><br>
                    <p></p><br>
                    <p></p><br>
                    <p></p><br>
                    <p></p><br>
            </div></a>

        
    </div>

</div>

<div class="footer">

<h2>It is <%= @@current_time %> right now.</h2>
</div>

<div class="footer-background">
</div>
